# Default behavior
*   text=auto

# Let's be more explicit for files which are text for sure
*.php   text
*.css   text
*.js    text
*.sql   text
*.txt   text
*.md    text
*.csv   text
*.html  text
*.xml   text

# Some binary file types for completeness
*.png   binary
*.gif   binary
*.jpg   binary

# Some files in particular that do not have the usual extensions
/.htaccess      text
/bin/*          text
/COPYING        text
/crontab        text
/favicon.ico    binary

# Temporary exceptions until we clean things up
/files/ binary
*.php3  text
*.gz    binary
*.log   text
