body {
  background: #3A6EA5 url("http://www.pouet.net/gfx/trumpet.gif");
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #ffffff;
}

a {
  color : #9FCFFF;
  text-decoration : none;
}
a:hover {
  text-decoration : underline;
}

#header {
  text-align:center;
  margin-top: 10px;
}
#header p {
  margin: 0px;
}
#footer {
  text-align:center;
  margin-bottom: 10px;
}
#content {
  margin-right: 10px;
}
#leftbar {
  width: 22%;
  float: left;
}
#middlebar {
  width: 56%;
  float: left;
}
#rightbar {
  width: 22%;
  float: right;
}

.menu {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  width:100%;
  background-color: #224488;
  text-align:center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 0px;
  font-weight: bold;
  clear: both;
}

.menu ul {
  margin: 0px;
  padding: 3px;
}
.menu li {
  display: inline;
  background: url("white4.gif") center left no-repeat;
  padding-left: 9px;
}
.menu li span {
  color: white;
}

.pouettbl {
  background: #000000;
  border-collapse: collapse;
  border: 2px solid black;
  margin: 0px auto 20px;
  width: 90%;
}

.pouettbl th {
  background: #224488;
  color: #ffffff;
  border: 1px solid black;
  height: 20px;
  padding: 3px;
  text-align: left;
}

.pouettbl .sort {
  text-align: left;
  height: 25px;
}

.pouettbl .sort a {
  background: url("http://www.pouet.net/gfx/arrow.gif") top left no-repeat;
  padding-left: 15px;
  margin-right: 15px;
}

.pouettbl tr {
  background: #446688;
}

.pouettbl td {
  color: #ffffff;
  border: 1px solid black;
  padding: 3px;
  vertical-align: middle;
}

.pouettbl .foot {
  text-align: right;
  background: #6688AA;
  font-weight: bold;
}
.pouettbl .footn {
  text-align: right;
  background: #6688AA;
}

.pouettbl .avcol {
  width: 16px;
  vertical-align: top;
}

.pouettbl .r1 {
  background: #446688;
}

.pouettbl .r2 {
  background: #557799;
}

img {
  border: 0px;
  padding-right: 3px;
  margin:0px;
}

input {
  font-size : 9pt;
  font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
  font-weight: normal;
}

.center {
  text-align: center;
}

.group {
  display: block;
  text-transform: lowercase;
}

.prod {
  font-weight: bold;
  text-transform: lowercase;
}

#tbl_search div {
  display:inline;
  white-space: nowrap;
}

#tbl_oneliner th span {
  padding-left: 18px;
  padding-bottom: 2px;
  background: #224488 url("http://www.pouet.net/gfx/titles/talk.gif") top left no-repeat;
}

#tbl_oneliner td,#tbl_bbs td {
  padding: 2px;
}

#tbl_search th span {
  padding-left: 18px;
  padding-bottom: 2px;
  background: #224488 url("http://www.pouet.net/gfx/titles/search.gif") top left no-repeat;
}

#tbl_stats th span {
  padding-left: 18px;
  padding-bottom: 2px;
  background: #224488 url("http://www.pouet.net/gfx/titles/stats.gif") top left no-repeat;
}

#tbl_coup th span {
  padding-left: 18px;
  padding-bottom: 2px;
  background: #224488 url("http://www.pouet.net/gfx/titles/coupdecoeur.gif") top left no-repeat;
}

.news th span {
  padding-left: 18px;
  padding-bottom: 2px;
  background: #224488 url("http://www.pouet.net/gfx/titles/orange.gif") top left no-repeat;
}

.platform {
  width: 16px;
  height: 16px;
  float: right;
  background-repeat: no-repeat;
}
.platform span {
  display:none;
}
.type {
  width: 16px;
  height: 16px;
  float: left;
  padding-right: 3px;
  background-repeat: no-repeat;
}
.type span {
  display:none;
}
.avatar {
  margin:0px;
  padding:0px;
  border:0px;
  vertical-align: -25%;
  width: 16px;
  height: 16px;
}
.center { text-align: center; }

#tbl_prodbox {
  width: 50%;
}

#tbl_prodbox big {
  font-size: 18px;
  font-weight: bold;
}

#tbl_prodbox #title {
  float:left;
}
#tbl_prodbox #otherlinks {
  float:right;
  margin-top:4px;
}

#tbl_prodbox .cenmid {
  text-align:center;
  vertical-align: middle;
}

#tbl_prodbox #stattable td {
  border: 0px;
  text-align:left;
  padding: 1px;
}

#tbl_prodbox #links {
  text-align:right;
  vertical-align: bottom;
}

.outerbar {
  width: 100px;
  height: 16px;
  background: black;
  padding: 1px;
  margin: 5px auto;
  text-align:left;
}
.innerbar {
  background: url('http://www.pouet.net/gfx/bar.gif') repeat-x;
  padding: 0px;
  margin: 0px 0px;
  height: 16px;
}
.innerbar span {
  display: none;
}

#tbl_popularity,#tbl_changes {
  width: 50%;
}
#tbl_popularity td,#tbl_changes td {
  text-align:center;
}
#tbl_popularity a,#tbl_changes a {
  font-weight: bold;
}
#tbl_comments {
  width: 50%;
}
#tbl_comments td {
  padding: 2px;
}
#tbl_comments .numcomments {
  background: #224488;
  text-align: center;  
  
}

.vote {
  float: left;
  margin:0px;
  padding:0px;
  width: 16px;
  height: 16px;
}
.vote span {
  display:none;
}
.rulez { background: url("http://www.pouet.net/gfx/rulez.gif") top left no-repeat; }
.sucks { background: url("http://www.pouet.net/gfx/sucks.gif") top left no-repeat; }
