body {
	font : 9pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
	margin : 0;
	color : #FFFFFF;
	background : #3A6EA5 url("../gfx/trumpet.gif");

	scrollbar-3d-light-color : #224488;
	scrollbar-arrow-color : #224488;
	scrollbar-base-color : #3A6EA5;
	scrollbar-dark-shadow-color : #224488;
	scrollbar-face-color : #224488;
	scrollbar-highlight-color : #224488;
	scrollbar-shadow-color : #224488;
	scrollbar-track-color : #3A6EA5;
}
td {
	font : 9pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
th {
	font : bold 9pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
	text-align : left;
	background-color : #248;
	/*white-space : nowrap;*/
}
a:link {
	color : #9FCFFF;
	text-decoration : none;
}
a:visited {
	color : #9FCFFF;
	text-decoration : none;
}
a:active {
	color : #9FCFFF;
	text-decoration : none;
}
a:hover {
	color : #9FCFFF;
	text-decoration : underline;
}
input, select, option, textarea {
	font : 9pt Tahoma, Verdana, Arial, Helvetica, sans-serif;
}
.box {
	background-color : #000000;
	border: 1px solid #000;
	width : 100%;
}
.icon {
	width : 16px;
	height : 16px;
	border : 0;
	float : left;
}
.bottom {
	text-align : right;
	color: #fff;
	background-color : #68a;
	font-weight : bold;
}
.justify {
	text-align : justify;
}

pre.nfo {
	font-family: terminal;
}

pre.results {
	text-shadow: 4px 4px 0px #244668;
}

.bg1 {
	color: #fff;
	background-color: #579;
}

.bg2 {
	color: #fff;
	background-color: #468;
}

.bg3 {
	color: #fff;
	background-color: #68a;
}

div.bbs_code,
div.bbs_quote {
	margin: .5em 2em;
	width: 85%;
}

div.bbs_quote div {
	background-color: #579;
	border: 1px solid #8ac;
	padding: .5em;
	margin-top: .5em;
}

div.bbs_code pre {
	border: 1px solid #8ac;
	background-color: #579;
	padding: .5em;
	margin-top: .5em;
}

pre {
   white-space: pre; /* css-3 */
   white-space: pre-wrap; /* wtf */
   white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
   white-space: -pre-wrap; /* Opera 4-6 */
   white-space: -o-pre-wrap; /* Opera 7 */
   word-wrap: break-word; /* IE 5.5+ */
}

form
{
margin:0;
padding:0;
}

#account input {
  width: 250px;
}

.bbimage {
  max-width: 95%;
/*
  max-width: -moz-max-content;
  _max-width: auto;
  width: 100%;
  _width: ;
  _height: ;
*/
}

#bpbudget {
  border-collapse: collapse;
}

#bpbudget .topcellwithmarker {
  border: 0;
  border-right: 1px solid #000000;
  padding-right: 2px;
  text-align: right;
  font-size: 60%;
}
#bpbudget .middlecell {
  width: 4px;
  height: 16px;
  background: #000000;
  border: 1px solid black;
}
#bpbudget .middlefilled {
  width: 4px;
  height: 16px;
  border: 1px solid black;
  background: url(/gfx/bar.gif);
}

#bpbudget .bottomcellwithmarker {
  display: none;
}

.largeavatar {
  image-rendering: optimizeSpeed;
  -ms-interpolation-mode: nearest-neighbor;
}

.threadcat {
  padding-left: 5px;
  padding-right: 5px;
}

.searchhighlight {
  background:yellow;
  color:black;
}

a.bbsanchor {
  float: left;
  color: #587898;
  width: 0;
}

#prodcommenttable td:target, .bbstable td:target
{
  border: #8ac 3px solid;
  padding: 5px;
}

/* LIST STYLE FOR THE NAVIGATION */
ul.nav {
    padding: 4px;
    margin: 0;
}
ul.nav li {
    background: url('/gfx/white4.gif') no-repeat 0px 6px;
    display: inline;
    list-style-type: none;
    margin: 0;
    padding-left: 7px;
}
ul.nav a {
    font-weight: bold;
}
ul.nav span {
    color: #fff;
}

/* MEDIA QUERIES FOR BROWSING THE BBS ON A MOBILE PHONE */
div#login {
    width: 99%;
    display: none;
}
@media (max-width: 480px) {
    div#login {
        display: block;
    }
    body div table td[width="20%"], body div table td[width="2%"], body div table td[width="3%"] {
        display: none;
    }
    body div table:nth-of-type(1) td {
        float: left;
    }

    /* bbs table */
    body div table[width="75%"] {
        width: 90% !important;
        max-width: 90% !important;
    }
}
